.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.divider {
  position: relative;
  text-align: center;
  margin: 0.5rem 0;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: var(--color-gray-200);
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  display: inline-block;
  padding: 0 1rem;
  background: white;
  color: var(--color-gray-500);
  font-size: 0.875rem;
}
